# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
boxpack

# Debug files
*.dSYM/

# PDF
*.pdf

# offlinetests
offlinetest/*
01_offlinetest
02_offlinetest
03_offlinetest
04_offlinetest
05_offlinetest
06_offlinetest
1out
3out
4out
6out
box64
error.log
out
results.html